Formulário Inicial/Service References/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58090/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PiPorDataWebService" />
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="utilizador" nillable="true" type="q1:Utilizador" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLoggedInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumFuncionarioPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumFuncionarioPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetNumFuncionarioPorDataResult" nillable="true" type="q2:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumFuncCategoriaPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumFuncCategoriaPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetNumFuncCategoriaPorDataResult" nillable="true" type="q3:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaFuncionarioPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaFuncionarioPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetMediaFuncionarioPorDataResult" nillable="true" type="q4:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPercentagemPessoalPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPercentagemPessoalPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetPercentagemPessoalPorDataResult" nillable="true" type="q5:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPercentagemMedicamentosPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPercentagemMedicamentosPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetPercentagemMedicamentosPorDataResult" nillable="true" type="q6:ArrayOfMedicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaCamasPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaCamasPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetMediaCamasPorDataResult" nillable="true" type="q7:ArrayOfCama" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRacioFuncionariosPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRacioFuncionariosPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetRacioFuncionariosPorDataResult" nillable="true" type="q8:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcoesCategoriaPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcoesCategoriaPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetAcoesCategoriaPorDataResult" nillable="true" type="q9:ArrayOfAcao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPercentagemAcoesPorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataInicio" type="xs:int" />
        <xs:element minOccurs="0" name="dataFim" type="xs:int" />
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPercentagemAcoesPorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PiPorDataWebService" minOccurs="0" name="GetPercentagemAcoesPorDataResult" nillable="true" type="q10:ArrayOfAcao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceberXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceberXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceberXmlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>