Formulário Inicial/Service References/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58090/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58090/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58090/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PiPorDataWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IService1_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IService1_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="IService1_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_IsAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsLoggedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IService1_IsLoggedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumFuncionarioPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumFuncionarioPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumFuncionarioPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumFuncionarioPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumFuncCategoriaPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumFuncCategoriaPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNumFuncCategoriaPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumFuncCategoriaPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMediaFuncionarioPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaFuncionarioPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMediaFuncionarioPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaFuncionarioPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPercentagemPessoalPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentagemPessoalPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPercentagemPessoalPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentagemPessoalPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPercentagemMedicamentosPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentagemMedicamentosPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPercentagemMedicamentosPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentagemMedicamentosPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMediaCamasPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaCamasPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMediaCamasPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaCamasPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRacioFuncionariosPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRacioFuncionariosPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRacioFuncionariosPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRacioFuncionariosPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAcoesCategoriaPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAcoesCategoriaPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAcoesCategoriaPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAcoesCategoriaPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPercentagemAcoesPorData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentagemAcoesPorData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPercentagemAcoesPorData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPercentagemAcoesPorDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReceberXml_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceberXml" />
  </wsdl:message>
  <wsdl:message name="IService1_ReceberXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceberXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SignUp" message="tns:IService1_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SignUpResponse" message="tns:IService1_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogIn" message="tns:IService1_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogInResponse" message="tns:IService1_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogOut" message="tns:IService1_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogOutResponse" message="tns:IService1_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsAdmin" message="tns:IService1_IsAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsAdminResponse" message="tns:IService1_IsAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLoggedIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsLoggedIn" message="tns:IService1_IsLoggedIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsLoggedInResponse" message="tns:IService1_IsLoggedIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumFuncionarioPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNumFuncionarioPorData" message="tns:IService1_GetNumFuncionarioPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNumFuncionarioPorDataResponse" message="tns:IService1_GetNumFuncionarioPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumFuncCategoriaPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNumFuncCategoriaPorData" message="tns:IService1_GetNumFuncCategoriaPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNumFuncCategoriaPorDataResponse" message="tns:IService1_GetNumFuncCategoriaPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaFuncionarioPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMediaFuncionarioPorData" message="tns:IService1_GetMediaFuncionarioPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMediaFuncionarioPorDataResponse" message="tns:IService1_GetMediaFuncionarioPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPercentagemPessoalPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPercentagemPessoalPorData" message="tns:IService1_GetPercentagemPessoalPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPercentagemPessoalPorDataResponse" message="tns:IService1_GetPercentagemPessoalPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPercentagemMedicamentosPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPercentagemMedicamentosPorData" message="tns:IService1_GetPercentagemMedicamentosPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPercentagemMedicamentosPorDataResponse" message="tns:IService1_GetPercentagemMedicamentosPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaCamasPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMediaCamasPorData" message="tns:IService1_GetMediaCamasPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMediaCamasPorDataResponse" message="tns:IService1_GetMediaCamasPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRacioFuncionariosPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRacioFuncionariosPorData" message="tns:IService1_GetRacioFuncionariosPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRacioFuncionariosPorDataResponse" message="tns:IService1_GetRacioFuncionariosPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAcoesCategoriaPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAcoesCategoriaPorData" message="tns:IService1_GetAcoesCategoriaPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAcoesCategoriaPorDataResponse" message="tns:IService1_GetAcoesCategoriaPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPercentagemAcoesPorData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPercentagemAcoesPorData" message="tns:IService1_GetPercentagemAcoesPorData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPercentagemAcoesPorDataResponse" message="tns:IService1_GetPercentagemAcoesPorData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceberXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReceberXml" message="tns:IService1_ReceberXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReceberXmlResponse" message="tns:IService1_ReceberXml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IService1/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IService1/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/IService1/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/IsAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLoggedIn">
      <soap:operation soapAction="http://tempuri.org/IService1/IsLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumFuncionarioPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNumFuncionarioPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumFuncCategoriaPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNumFuncCategoriaPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaFuncionarioPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMediaFuncionarioPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPercentagemPessoalPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPercentagemPessoalPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPercentagemMedicamentosPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPercentagemMedicamentosPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaCamasPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMediaCamasPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRacioFuncionariosPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRacioFuncionariosPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcoesCategoriaPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAcoesCategoriaPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPercentagemAcoesPorData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPercentagemAcoesPorData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceberXml">
      <soap:operation soapAction="http://tempuri.org/IService1/ReceberXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58090/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>